* {
  font-family: "Poppins", system-ui;
  margin: 0;
}
.lay {
  height: 50vh;
  background-image: url("../assets/images/pexels-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(207, 207, 207);
  background-blend-mode: darken;
  color: white;
}
button {
  background-color: green;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.head {
  padding-top: 1.5rem;
  color: white;
  margin-left: 2rem;
}
@import "./nav";
@import "./hero";
@import "./item";
.latest {
  margin-top: 2rem;
  /* display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .latest-item {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@import "./offers";
@import "./newsletter";
@import "./footer";

.category-div {
  .descrip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
      font-size: 2.5rem;
      font-weight: 500;
      margin-left: 3rem;
      width: 30vw;
    }
    img {
      width: 20rem;
      height: 17rem;
    }
  }
}
.cat-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  img {
    width: inherit;
    height: inherit;
  }
}
@import "./idxsignup";
@import "./signup";

.breadcrum {
  font-size: 1rem;
  span {
    font-size: 0.7rem;
    margin: 0.3rem;
    color: green;
  }
}
.proddisp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  img {
    // border: 1px solid black;
    width: auto;
    height: 20rem;
  }
  p {
    text-align: center;
    font-weight: bold;
  }
}
.cart-items {
  display: flex;
  align-items: center;
  justify-content: center;
  .mapped {
    text-align: center;
    margin: 0.5rem;
    img {
      width: 10rem;
      height: 6rem;
    }
    p {
      font-size: 0.8rem;
      span {
        font-weight: bold;
      }
    }
    button {
      font-size: 0.8rem;
      padding: 0.4rem;
    }
  }
}
